<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error Page</title>
</head>
<body>
    <!-- navbar section -->
    <section>
        <div>
            <nav>
                <a  href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </section>
      <!-- navbar section Ends -->
    <div>
        <h1>404 Not Found</h1>

    </div>
    <div>
        <p>The server can not find the requested resource. This means the URL is not recognized.</p>
    </div>
    <script src="../server.js"></script>
</body>
</html>