<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <!-- navbar section -->
    <section>
        <div>
            <nav>
                <a  href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </section>
      <!-- navbar section Ends -->
    <div>
        <h3>ABOUT ME</h3>
    </div>
    <div>
        <h4>My Name is Benedict Okafor<h4>

        <p>An Enthusiastic Cloud/DevOps Engineer  <br> focused on learning to be better as an individual, <br> and willing to contibute to technology and making the world a better place.</p>

        <p>With knowleagable insite to modern technological tools like: <br>
           <ul>
            <ol>Kubernetes</ol>
            <ol>Docker</ol>
            <ol>Grafana</ol>
            <ol>Helm charts</ol>
            <ol>Bash Scripting</ol>
            <ol>Linux OS</ol>
            <ol>ELK Stack</ol>
            <ol>Terraform</ol>
            <ol>Cloud Platforms</ol>
        
           </ul>
        </div>


    <script src="../server.js"></script>
</body>
</html>