<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me Page</title>
</head>
<body>
    <!-- navbar section -->
    <section>
        <div>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </section>
      <!-- navbar section Ends -->
    <div>
        <h3>CONTACT ME</h3>
    </div>
    <div>
        <p>You can connect with me on Various Social Platform</p>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/benedict-okafor/">linkedin</a>
        <a href="https://twitter.com/NnanaBen">Twitter</a>
        <a href="https://github.com/Benn1440">Github</a>
    </div>
   

    <script src="../server.js"></script>
</body>
</html>